.root{
    /*-fx-background-color: #cce6ff;*/
    -fx-background-color: white;
    -fx-font-size: 16px;

}

#home-image{
    -fx-background-image: url(../images/HikingBackground.jpg);
}

.window-top, .window-mid, .window-bot{
    -fx-background-color: white;
}

Button{
    -fx-border-style: none;
    -fx-border-radius: 2px;
    -fx-pref-height: 36px;
    -fx-background-color: white, TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-cursor: hand;
}

Button:hover{
    -fx-background-color: #1565c0;
    -fx-text-fill: white;
}

.home-btn{
    -fx-min-width: 220px;
    -fx-max-width: 220px;
}

#buttonRow{
    -fx-alignment: center;
    -fx-spacing: 30px;
}

.back-btn-icon{
    -fx-graphic: url("../images/web/ic_arrow_back_black_24dp_1x.png");
}

.back-btn-icon:hover{
    -fx-graphic: url("../images/web/ic_arrow_back_white_24dp_1x.png");
}
.forward-btn-icon{
    -fx-graphic: url("../images/web/ic_arrow_forward_black_24dp_1x.png");
}

.forward-btn-icon:hover{
    -fx-graphic: url("../images/web/ic_arrow_forward_white_24dp_1x.png");
}

#new-hike-btn-icon{
    -fx-graphic: url("../images/web/ic_explore_black_24dp_1x.png");
}

#new-hike-btn-icon:hover{
    -fx-graphic: url("../images/web/ic_explore_white_24dp_1x.png");
}

#scheduled-btn-icon{
    -fx-graphic: url("../images/web/ic_today_black_24dp_1x.png");
}

#scheduled-btn-icon:hover{
    -fx-graphic: url("../images/web/ic_today_white_24dp_1x.png");
}

#previous-hike-btn-icon{
    -fx-graphic: url("../images/web/ic_list_black_24dp_1x.png");
}

#previous-hike-btn-icon:hover{
    -fx-graphic: url("../images/web/ic_list_white_24dp_1x.png");
}

#exercise-progress-btn-icon{
    -fx-graphic: url("../images/web/ic_show_chart_black_24dp_1x.png");
}

#exercise-progress-btn-icon:hover{
    -fx-graphic: url("../images/web/ic_show_chart_white_24dp_1x.png");
}

.label-text{
    -fx-font-weight: bolder;
    -fx-font-size: 40px;
}

.title-text{
    -fx-font-size: 50px;
    /*-fx-fill: white;*/
}

.check-box{
    -fx-alignment: center-left;
}

#inputContainer{
    -fx-spacing: 30px;
    -fx-padding: 50px;
    -fx-alignment: center;
    -fx-max-width: 300px;
}

.hBox{
    -fx-alignment: center-left;
}

.button{
    -fx-min-height: 40px;
    -fx-min-width: 100px;
}